.main{
    float:right;
    &__image{
        height: 55rem;
        object-fit: cover;
        width: 100%;
    }
}
.content{
    float: left;
    &__title{
        font-family: $oldstandard;
        font-weight: $bold;
    }
}
.container{
    padding-left: 0px;
}
.content__container-one{
    height: 30rem;
    padding-top: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.content__container-two{
    background-color: black;
    height: 25rem;
}
h4{
    font-family: $oldstandard;
}
@media (max-width: 1200px){
    .main{
        clear: both;
        &__image{
            height: 35rem;
            object-position: top;
        }
    }
}