.content{
    float: left;
    width: 30vw;
}
.main{
    float: right;
    width: 60vw;
    &__image{
        width: 100%;
        object-fit: cover;
    }
}
@media only screen and (max-width: 1200px) {
.main{
    clear: both;
    width: 100%;
    &__image{
        height: 70vh;
        object-fit: cover;
        object-position: top;
    }
}
    }
@media only screen and (max-width: 600px) {
        .main{
            clear: both;
            width: 100%;
            &__image{
                height: 40vh;
                object-fit: cover;
                object-position: top;
            }
        }
            }