// Navigation
.navbar{
    padding: 0;
    &-brand{
    background-color: black;
    color: white!important;
    height: 5rem;
    width: 5rem;
    text-align: center;
    padding-top: 1.3rem;
    font-size: 1.5rem;
    font-family: $oldstandard;
    }
}
#navigation{
    height: 5rem;
}
.collapse.navbar-collapse{
    padding-right: 5rem;
    font-weight: $bold;
    font-family: $raleway;
}